body{
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container{
    display: flex;
}

#content{
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

#options{
    margin-bottom: 24px;

    justify-content: space-evenly;
}

.slidecontainer{
    color:#00003b;
    font-size: 18px;
    font-weight: 900;
}

.slidecontainer p{
    text-align: center;
    margin: 0;
}

#colour{
    appearance: none;
    height: 50px;
    width: 50px;
    border: none;
}

#grid{
    height: 500px;
    width: 500px;
    flex-direction: column;
    box-shadow: 0px 4px 8px #0F0F0F;
    margin-bottom: 16px;
}

.column,
.row{
    flex: 1;
}

#footer,
#header{
    justify-content: center;
    padding: 16px;
}

#header{
    color: #00003b;
}

#footer{
    background-color: #00003b;
    color: aquamarine;
    margin-top: 12px;
}

@media (max-width: 850px){
    #grid{
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 650px){
    #grid{
        height: 300px;
        width: 300px;
    }
}