*{
    margin : 0;
    padding: 0;
}

body{
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container{
    display: flex;
}

#content{
    flex-direction: column;
    align-self: center;
}

#options{
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

#options .container{
    flex-direction: column;
    align-items: center;
    color:#00003b;
    font-size: 16px;
    font-weight: 900;
}

#background,
#colour{
    height: 40px;
    width: 40px;
    border: none;
}

#slider{
    width: 80px;
}

button{
    padding: 8px;
    background-color: #7fffd4;
    color: #00003b;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
}

button:hover{
    background-color: #0fffd4;
}

#grid{
    height: 500px;
    width: 500px;
    flex-direction: column;
    box-shadow: 0px 4px 8px #0F0F0F;
    margin-bottom: 32px;
}

.column,
.row{
    flex: 1;
}

#footer,
#header{
    justify-content: center;
    padding: 16px;
}

#header{
    color: #00003b;
}

#footer{
    background-color: #00003b;
    color: aquamarine;
    margin-top: 16px;
    font-weight: 900;
}

@media (max-width: 850px){
    #grid{
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 650px){
    #grid{
        height: 300px;
        width: 300px;
    }
}